* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  display: flex;
  overflow: hidden;
}
.login_left_side {
  height: 100vh;
  width: 50vw;
  background-color: white;
  padding-top: 50px;
}
.login_right_side {
  height: 100vh;
  width: 50vw;
}
.login_right_side_image {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
.login_miu_logo_container {
  width: 50vw;
  display: flex;
  justify-content: center;
}
.login_miu_logo {
  width: 150px;
}
.login_welcome {
  margin-top: 15px;
  width: 50vw;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
}
.login_register_button_container {
  width: 50vw;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: 17px;
}
.register_button {
  font-weight: bolder;
  border-bottom: 2px solid black;
  color: black;
  text-decoration: none;
}
.login_email_container {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.login_email_input {
  width: 24vw;
  height: 6vh;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.login_password_container {
  margin-top: 20px;
  width: 50vw;
  display: flex;
  justify-content: center;
}
.login_password_input {
  width: 24vw;
  height: 6vh;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.sign_in_button_container {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sign_in_button {
  width: 20vw;
  height: 6vh;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}
.sign_in_button:hover {
  cursor: pointer;
}
.forgot_password_container_container {
  margin-top: 20px;
  width: 50vw;
  display: flex;
  justify-content: center;
}
.forgot_password_container {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}
.forgot_password {
  color: black;
  outline: none;
  text-decoration: none;
}